---
import "../styles/global.css";
import { ClientRouter } from 'astro:transitions'
import { AdminBar } from "../components/react/AdminBar";

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

interface Props {
  description: string | null | undefined
  openGraph: {
    type?: string
    title?: string
    description?: string
    url?: string
    siteName?: string
    images?: {
      url: string
      width?: number
      height?: number
      alt?: string
    }[];
  };
  title: string,
  useTransitions: Boolean
}

const { useTransitions, ...metadata } = Astro.props;

// make this cleaner, more dynamic, once we have static params and slugs?
const { pathname: slug } = Astro.url;

const isPreview = true; // TODO: get this value from inside componenet, if it stays here it will never change due to SSG
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{metadata.title}</title>
	<meta content={metadata.description} name="description">
  	<meta content={metadata.openGraph.title} property="og:title">
  	<meta content={metadata.openGraph.description} property="og:description">
  	<meta property="og:type" content={metadata.openGraph.type}>
    <meta name="viewport" content="width=device-width" />
	  <link href={Astro.site} rel="canonical">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<!-- TODO: Add favicon and webclip -->
    {useTransitions && <ClientRouter />}
  </head>
  <body class="bg-background text-foreground min-h-[100vh] flex flex-col">
    <AdminBar path={slug} adminBarProps={{ isPreview }} client:only="react" />
	<Header />
    <slot />
	<Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
